
body {
	background-color:black;
}

/****************************/

#calculator {
	border: 2px solid gray;
	max-width: 320px;
	min-height:320px;
    min-width: 320px;
    margin-top: 10%;
    margin-left: auto; 
    margin-right: auto;
    border-radius:7px;
    cursor: crosshair;
	background: #262626;
	background: -webkit-linear-gradient(#262626, #424040);
	background: -o-linear-gradient(#262626, #424040);
	background: -moz-linear-gradient(#262626, #424040);
	background: linear-gradient(#262626, #424040);
}

/* Screen ************************/

.screen {
	width:90%;
	background-color:#D0F5A9;
	height: 40px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid gray;
}

#screen-relay {
	position: absolute;
	margin-left: 10px;
}

.screen p {
	float:right;
	margin-right:10px;
}


/* Buttons **********************/

.first-row ul li,
.second-row ul li,
.third-row ul li,
.fourth-row ul li,
.fifth-row ul li {
	display: inline-block;
	color: #262626;
	text-align:center;
	background-color:#C5E48B;
	width:65px;
	height:40px;
	border-radius:5px;
	padding-top:23px;
	background-color:#08D3D3;
	color:#9FF7F7;
}

.second-row 
.third-row 
.fourth-row 
.fifth-row {
	margin-top: 10px;
}

#clear {
	color: red;
	width: 40%;
	height: 6%;
}

.buttons {
	margin-left:20px;
	margin-top:20px;
}
.numbtns{
	width: 20%;
	height: 10%;
}
.opbtns{
	width: 30%;
	height: 10%;
}
#equals{
	width:20%;
	height: 10%;
}
#decimal{
	width:20%;
	height: 10%;
}
#handiv{
height:61px;
width:53px;
overflow: hidden;
background-image: url(../img/Linkwalk.gif);
background-repeat: no-repeat;
top: 40;
left: 40;
/*  animation: sprite 4s;
}
@keyframes sprite {
 100% {
   left:200px;
 }
}*/


